<div class="container" id="container">
  <div class="row">
      <div class="col-12 col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-1 offset-lg-1">
          <h2>Mon Blog Angular&nbsp;</h2>
          <p>Mise à jour le {{ lastUpdate | date: 'short'}}</p>
          <ul class="list-group">
            <app-post-list *ngFor="let i of post"
              [title] = "i.title"
              [content] = "i.content"
              [loveIts] = "i.loveIts"
              [created_at] = "i.created_at"
              >
            </app-post-list>
          </ul>
      </div>
  </div>
</div>
